.empty {
  color: #d9534f;
}

.low {
  color: #f0ad4e
}

.full {
  color: #369;
}

.kegItem {
  padding: 1% 0;
}

.close {
  float: right;
  padding: 2px;
}

.expensive {
  text-decoration: underline;
}
