h3 {
  padding: 2% 0;
}

.kegItem {
  color: #369;
  padding: 1% 0;
}

.close {
  float: right;
  padding: 2px;
}

.expensive {
  text-decoration: underline;
}

.empty {
  color: #d9534f !important;
}

.strong {
  color: #369;
  font-weight: bold;
}
